// reset some default styling
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// import font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
$font-stack: 'Roboto', sans-serif;

// variables
$primary: #222;
$secondary: #555;
$sm: 425px;

//media query
@mixin breakpoint-min($break) {
	@media (min-width: $break) {
		@content;
	}
}

@mixin breakpoint-max($break) {
	@media (max-width: $break) {
		@content;
	}
}

// animation
@keyframes pre-loader {
	0% {
		transform: scaleX(1);
		transform-origin: right;
	}

	25% {
		transform: scaleX(0.1);
		transform-origin: right;
	}

	50% {
		transform: scaleX(1);
		transform-origin: right;
	}

	50.001% {
		transform: scaleX(1);
		transform-origin: left;
	}

	75% {
		transform: scaleX(0.1);
		transform-origin: left;
	}

	100% {
		transform: scaleX(1);
		transform-origin: left;
	}
}
