@import 'base';

html,
body {
	width: 100%;
	height: 100vh;
	font-family: $font-stack;
	font-size: 1rem;
	color: $primary;
}

.app {
	width: 100%;
	padding-top: 3rem;

	@include breakpoint-min($sm) {
		width: 411px;
		margin: 0 auto;
	}
}

.today {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}

.date-and-time {
	width: 100%;
	margin-top: 0.5rem;
	text-align: center;
	color: $secondary;
}

.current-weather-icon {
	width: 100%;
	text-align: center;

	img {
		width: 150px;
		padding: 2.5rem 0;
	}
}

.current-temp {
	width: 100%;
	text-align: center;
	font-size: 3rem;
	font-weight: 700;

	.feels-like {
		color: $secondary;
		font-size: 1rem;
		font-weight: 400;
	}
}

.humidity-rain-wrapper {
	width: 100%;
	margin-top: 2rem;
	padding: 0 2rem;
	display: flex;
	justify-content: center;

	img {
		width: 2rem;
	}

	span {
		width: 100%;
	}

	& > div {
		width: 100%;
	}

	@include breakpoint-max(355px) {
		font-size: 0.8rem;

		img {
			width: 1.6rem;
		}
	}
}

.data-wrapper {
	display: inline-block;
	padding-left: 0.5rem;
}

.bold {
	font-weight: 700;
}

.subtext {
	color: $secondary;
}

.slider-label {
	margin: 2rem 2rem 1rem 2rem;
}

.hourly-slider,
.daily-slider {
	width: 100%;
	height: 80px;
}

.slider-buffer {
	width: 1rem;
	height: 100%;
}

.hour,
.day {
	text-align: center;
	font-size: 0.75rem;
	width: 3rem;
	font-weight: 700;
	margin: 0 1rem;

	.hour-time,
	.day-of-week {
		margin-bottom: 0.25rem;
	}

	img {
		width: 2.5rem;
		pointer-events: none;
	}

	.hour-temp,
	.day-temp {
		margin-top: 0.25rem;
		pointer-events: none;

		.rain {
			color: #25d9f8;
			margin-left: 0.25rem;
		}

		.day-low-temp {
			color: $secondary;
			margin-left: 0.25rem;
			font-weight: 400;
		}
	}
}

.modal-container {
	margin-top: -3rem;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	pointer-events: all;
	transition: opacity 200ms linear;

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}

	@include breakpoint-min($sm) {
		width: 411px;
		margin: 0 auto;
	}
}

.modal {
	position: relative;
	width: 250px;
	padding-bottom: 1.5rem;
	background-color: #fff;
	border: 5px solid #f5f5f5;
	border-radius: 20px;

	img {
		width: 100px;
		margin: 1rem 0;
	}
}

.cross {
	position: absolute;
	right: 1rem;
	top: 1rem;
	color: #ccc;
	font-size: 2rem;
}

.modal-day {
	text-align: center;
	width: 100%;
	padding-top: 3rem;
	font-weight: 700;
}

.modal-date {
	text-align: center;
	color: $secondary;
}

.modal-icon {
	text-align: center;
}

.modal-data-wrapper {
	width: 100%;
	padding-left: 2.75rem;

	img {
		width: 2rem;
		text-align: center;
	}
}

.modal-data {
	padding-left: 0.5rem;
	text-align: left;
	display: inline-block;
	transform: translateY(-1rem);
}

.modal-error-img {
	padding-top: 3rem;
}

.error-title {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}

.error-text {
	padding: 0 2rem;
	color: $secondary;
	margin-top: 1rem;
	line-height: 1.25rem;
}

.credits {
	padding: 2rem 2rem 0.5rem 2rem;
	font-size: 0.75rem;
	text-align: center;
	color: $primary;

	a {
		color: $secondary;
	}
}

.pre-loader {
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: #fff;
	z-index: 1;
	margin-top: -3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	pointer-events: all;
	transition: opacity 200ms linear;

	span {
		font-size: 3rem;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 3px;
			background-color: $primary;
			animation: pre-loader 2s ease-in-out infinite;
		}
	}

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}

	@include breakpoint-min($sm) {
		width: 411px;
		margin: 0 auto;
	}
}
